{erl_opts, [
            warn_export_all
           ,warn_missing_spec
           ,warnings_as_errors
           ,debug_info
           ,{parse_transform, lager_transform}
           ]}.
{xref_checks, [
               undefined_function_calls,
               deprecated_function_calls,
               locals_not_used
              ]}.
        
{deps, [{gen_smtp, {git, "https://github.com/kageds/gen_smtp", {branch, "1.2.0-kazoo"}}}]}.

{eunit_opts, [verbose]}.
{cover_enabled, true}.
{cover_print_enabled, true}.

