{erl_opts, [
            warn_export_all
           ,warn_missing_spec
           ,warnings_as_errors
           ,debug_info
           ,{parse_transform, lager_transform}
           ]}.
{xref_checks, [
               undefined_function_calls,
               deprecated_function_calls,
               locals_not_used
              ]}.
{deps, [
        {apns, {git, "https://github.com/2600hz/erlang-apns4erl.git", {tag, "2600hz-2.4.2"}}}
        ,{fcm, {git, "https://github.com/softwarejoint/fcm-erlang.git", {ref, "b2f68a4c6f0f59475597a35e2dc9be13d9ba2910"}}}
       ]}.
{eunit_opts, [verbose]}.
{cover_enabled, true}.
{cover_print_enabled, true}.

